@model IEnumerable<Assignment_QnAWeb.Models.Question>

@{
    ViewData["Title"] = "QuestionListWithRazerView";
}

<h1>QuestionListWithRazerView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Vote)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @item.Content
            </td>
            
            <td>
                @item.Vote
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <form asp-action="DeleteQuesiton" asp-route-questionId=@item.Id >
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
